<main>
  <h1>Mentions légales</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium veniam iusto deserunt aperiam qui eaque.
    Veniam, doloribus. Fugiat dolorum deserunt atque deleniti molestias quam nemo, reprehenderit aspernatur ipsum quo
    est?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium veniam iusto deserunt aperiam qui eaque.
    Veniam, doloribus. Fugiat dolorum deserunt atque deleniti molestias quam nemo, reprehenderit aspernatur ipsum quo
    est?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium veniam iusto deserunt aperiam qui eaque.
    Veniam, doloribus. Fugiat dolorum deserunt atque deleniti molestias quam nemo, reprehenderit aspernatur ipsum quo
    est?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium veniam iusto deserunt aperiam qui eaque.
    Veniam, doloribus. Fugiat dolorum deserunt atque deleniti molestias quam nemo, reprehenderit aspernatur ipsum quo
    est?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium veniam iusto deserunt aperiam qui eaque.
    Veniam, doloribus. Fugiat dolorum deserunt atque deleniti molestias quam nemo, reprehenderit aspernatur ipsum quo
    est?
  </p>
</main>
