@import '../node_modules/normalize.css/normalize.css';

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: inherit;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0.5em;
}

button {
  border: 0.1em solid #eee;
  background: #eee;
  padding: 0.5em 1em;

  &:not(:disabled) {
    &:hover {
      border-color: #ddd;
      background: #ddd;
    }
    &:active {
      border-color: #ccc;
      background: #ccc;
    }

    &.primary {
      border-color: #333;
      background: #333;
      color: white;

      &:hover {
        border-color: #444;
        background: #444;
      }
      &:active {
        border-color: #555;
        background: #555;
      }
    }
  }
}
