@import "../node_modules/normalize.css/normalize.css";

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: inherit;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}
